JNT_ENDPOINT=https://YOUR-JNT-ENDPOINT
JNT_USERNAME=YOUR_JNT_USERNAME
JNT_API_KEY=YOUR_JNT_API_KEY
JNT_SIGN_KEY=YOUR_JNT_SIGN_KEY
JNT_SHIPPER_NAME=PTNN Music Group
JNT_SHIPPER_CONTACT=PTNN Music Group
JNT_SHIPPER_PHONE=+84843340112
JNT_SHIPPER_ADDR=YOUR_SHIPPER_ADDRESS
JNT_ORIGIN_CODE=HCM
